#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  flex-direction: column;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(97, 97, 97, 1) 100%);
}